# Module 1 | Part 3A: Downloading a <strong>Public</strong> File From G Drive

Two Step Process to get a Public file from G Drive


1.   Download file from G Drive
2.   Read file into R

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

## Example 1.3A.1

This example consists of a dataset containing information from dog bites for New York City.  This data was collected over a two year time period.  

<i>NYC Dog Bite Data</i>: [Link](https://catalog.data.gov/dataset/dohmh-dog-bite-data/resource/bfd306c6-382c-420d-9aaa-be47616a1261?inner_span=True)



<p align='center'><img src="https://drive.google.com/uc?export=view&id=12RanX5LTURANF1iMorOueu6slRb8uGES"></p>

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

## Downloading the Public file from G Drive

For the purposes of this handout, obtain a CSV file of the NYC Dog Bite dataset and place a copy of this dataset into your G Drive.  My dataset has been placed into the DSCI325 > Datasets folder as shown below.


<p align='center'><img src="https://drive.google.com/uc?export=view&id=1qBOuHY4yzlaHzXn7G9KIyVs0guwszo25"></p>

In order to download the file into this Colab session, the Google File ID for thsi file must be known.  To obtain the Google File ID, right click on the datafile and select Get link.


<p align='center'><img src="https://drive.google.com/uc?export=view&id=1dmcTZt24R4giwHHpKOeT9FiDA6ikjBY1"></p>

The Google File ID can be retrieved from the URL under Get Link.  The Google File ID for this file is <i>1omD_I64jCqzxYkUIB63i-GuD5899tMDa</i>.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1cNDb8WRq7m1iHUfKYQi7dsXxTpocIZSj"></p>

The command <strong>gdown</strong> is used to download a copy of the file from G Drive into this Colab session.  The gdown function is analogous to Wget which is a window's ultilty function to retrieve a variety of file from the internet, e.g. http://, https://, ftp://, etc.

The gdown function is run on the sytem level (not within R).  The syntax for using gdown is given here.  The gdown function requires the Google File ID of the file to be downloaded.

In [ ]:
system("gdown --id 1omD_I64jCqzxYkUIB63i-GuD5899tMDa")

The dataset will be placed into the content folder as is shown here.  The gdown function maintains the name of the file, e.g. NYC_Dog_Bites_Data.csv. 

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1lcIk2dIzvjMcLFTFNzfl8PIWXMWfUPMe"></p>

## Reading the dataset into R

The read.csv() function is used to read in this dataset into R.

In [ ]:
NYC_Dog_Bites <- read.csv("/content/NYC_Dog_Bites_Data.csv")

Running a head() and tail() command to ensure data has been read in correctly.

In [ ]:
head(NYC_Dog_Bites)

tail(NYC_Dog_Bites)

  UniqueID DateOfBite      Species Breed                              Age
1 1        January 02 2015 DOG     Poodle, Standard                   3
2 2        January 02 2015 DOG     HUSKY
3 3        January 02 2015 DOG
4 4        January 01 2015 DOG     American Pit Bull Terrier/Pit Bull 6
5 5        January 03 2015 DOG     American Pit Bull Terrier/Pit Bull 1
6 6        January 05 2015 DOG     American Pit Bull Terrier/Pit Bull 1
  Gender SpayNeuter Borough  ZipCode
1 M      true       Brooklyn 11238
2 U      false      Brooklyn 11249
3 U      false      Brooklyn
4 M      false      Brooklyn 11221
5 M      false      Brooklyn 11207
6 F      false      Brooklyn 11209

      UniqueID DateOfBite       Species Breed                Age Gender
10275 10275    December 21 2017 DOG     Pit Bull             1   M
10276 10276    December 24 2017 DOG     CHIWEENIE MIX        7   M
10277 10277    December 24 2017 DOG     DUNKER               5   F
10278 10278    December 21 2017 DOG     Schnauzer, Miniature 10M M
10279 10279    December 28 2017 DOG     Mixed/Other              F
10280 10280    December 29 2017 DOG     BOXER/PIT BULL           M
      SpayNeuter Borough       ZipCode
10275 false      Staten Island 10303
10276 true       Staten Island 10303
10277 true       Staten Island 10303
10278 true       Staten Island 10312
10279 false      Staten Island 10308
10280 false      Staten Island 10314