<a href="https://colab.research.google.com/github/christophermalone/DSCI325/blob/main/Module1_Part1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 1 | Part 1: Reading in Data from Current Colab Session

There are two steps involved with reading in data from the current colab session.

1.   Upload a copy of the data into the current colab session
2.   Read the data into R

## Uploading Data into Current Colab Session

A session in Colab is a temporary.  A session starts when a Notebook is opened and closes after a certain amount of inactivity or when exising the browser/tab.  The <strong>sample_data</strong> folder is a commonplace location for data to be stored within a Colab session.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=17ozQuchHHuObCsTLmsNArmRhQmV17M6-"></img></p>

The following message is provided upon uploading a data file into the current Colab session.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1HiPuxHQx8CukWkvwxXiq9KCpVSgb_goW"></img></p>

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

### Example 1.1.1

A dataset from the City of Austin, TX will be used for this example.  The open data portal is often used for provide datasets to the public.

<i>Data Source</i>: Austin Animal Center Outcomes - [Link](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238)

The dataset includes information regarding the status of animals as they leave the Austin Animal Center. Click Export to obtain a local copy of this dataset.  For this example, a *.csv copy will be downloaded.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1_ni0aOSg4JxiDSAgATSfdDCNsRPBBwBP"></img></p>

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

### Details regarding Data via Open Data Portal 

The Open Data Portal provides some basic information regarding this dataset.  In particular, the number of rows and columns have been provided (sometimes an estimate is provided instead of the exact value).  In addition, some basic information regarding the columns provided in this dataset is given.

<strong>Definition: </strong>  A dataset that takes on the form of simple rows and columns is sometimes referred to as data in a <strong>table format</strong>.  This data may be referred to as data that is <strong>highly structured</strong>.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1FIczRZYbx8aPpTe09utO_SAK-4I83odQ"></img></p>

### Upload data file into colab session

To upload a copy of a dataset into the temporary colab session, simple drag-and-drop the data file into the sample_data directory.  The file will appear upon a successful upload.



<p align='center'><img src="https://drive.google.com/uc?export=view&id=1Ig0TgTwy7SCyYiVCHAmvp6Mv0fudSUUo"></img></p>

## Reading Data into R

### Using read.csv()

In [7]:
# Reading data in using read.csv via Base R
AustinAnimalShelter_BaseR <- read.csv("/content/sample_data/Austin_Animal_Center_Outcomes.csv")

### Utility Functions for a data.frame

In [ ]:
#ls() command can be used to list variables in current session of R
ls()

#Note View() is a common fuction used to View a dataset // not available in Colab

In [ ]:
# head() and tail() can be used to see top or bottom of the dataset

#View of top few rows...
head(AustinAnimalShelter_BaseR)

#View of bottom few rows....
tail(AustinAnimalShelter_BaseR)

In [14]:
# The class() function allows you to identify the variable type
class(AustinAnimalShelter_BaseR)

[1] "data.frame"

In [15]:
# The str() function allows you to identify the structure of the variable
str(AustinAnimalShelter_BaseR)

'data.frame':	123591 obs. of  12 variables:
 $ Animal.ID       : chr  "A794011" "A776359" "A821648" "A720371" ...
 $ Name            : chr  "Chunk" "Gizmo" "" "Moose" ...
 $ DateTime        : chr  "05/08/2019 06:20:00 PM" "07/18/2018 04:02:00 PM" "08/16/2020 11:38:00 AM" "02/13/2016 05:59:00 PM" ...
 $ MonthYear       : chr  "05/08/2019 06:20:00 PM" "07/18/2018 04:02:00 PM" "08/16/2020 11:38:00 AM" "02/13/2016 05:59:00 PM" ...
 $ Date.of.Birth   : chr  "05/02/2017" "07/12/2017" "08/16/2019" "10/08/2015" ...
 $ Outcome.Type    : chr  "Rto-Adopt" "Adoption" "Euthanasia" "Adoption" ...
 $ Outcome.Subtype : chr  "" "" "" "" ...
 $ Animal.Type     : chr  "Cat" "Dog" "Other" "Dog" ...
 $ Sex.upon.Outcome: chr  "Neutered Male" "Neutered Male" "Unknown" "Neutered Male" ...
 $ Age.upon.Outcome: chr  "2 years" "1 year" "1 year" "4 months" ...
 $ Breed           : chr  "Domestic Shorthair Mix" "Chihuahua Shorthair Mix" "Raccoon" "Anatol Shepherd/Labrador Retriever" ...
 $ Color           : chr  "Brown Tabby/White" "White/Brown" "Gray" "Buff" ...

#### Self-Check Questions 


1.   How many columns are contained in this data.frame?
2.   How many rows (observations) are contained in this data.frame?
3.   Provide a detailed explaination of what a 'row' represented in this data.frame?

### Using read_csv()

Tidyverse [ [Link](http://tidyverse.org) ] is a collection of R packages designed for data science. The R packages contained in this collection have been written to overcome some of the inherent limitations of base R.  For example, tidyverse uses a modifed version of a data.frame.

In [16]:
# Load the tidyverse() libary in this session of R
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.0.4     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [18]:
# Use read_csv() function (which is part of tidyverse) to read in the dataset
AustinAnimalShelter_Tidyverse <- read_csv("/content/sample_data/Austin_Animal_Center_Outcomes.csv")

── Column specification ────────────────────────────────────────────────────────
cols(
  `Animal ID` = col_character(),
  Name = col_character(),
  DateTime = col_character(),
  MonthYear = col_character(),
  `Date of Birth` = col_character(),
  `Outcome Type` = col_character(),
  `Outcome Subtype` = col_character(),
  `Animal Type` = col_character(),
  `Sex upon Outcome` = col_character(),
  `Age upon Outcome` = col_character(),
  Breed = col_character(),
  Color = col_character()
)

In [19]:
#Get a list of current variables
ls()

[1] "AustinAnimalShelter_BaseR"     "AustinAnimalShelter_Tidyverse"

### Self-Check Questions


1.   Run the class() function on dataset that was read into R using read_csv().  What is the variable type?
2.   Run the str() function on the dataset that was read into R using read_csv()_.  What is the name of the first column?  How does this name differ than the data.frame read in from read.csv()?  Briefly discuss.

## Data Structures for structered data in R

Three common structures for tabled data in R



*   Matrix
> Collection of vectors:  All must be the same length <strong>and</strong> same data type
*   Data.Frame
> Collection of vectors: All must be the same length
* Tibble -- tabled data.frame
> Collection of vectors




<p align='center'><img src="https://drive.google.com/uc?export=view&id=1LIrZ9yiPZ147CHZs9uUjVofM_Ik0QvZ4"></img></p>