# Task #1 - Fixing Issues Related to Reading in the US Zipcode data file 
Points: 10

Due: Tuesday, Jan 26

In Module 1 | Part 4 the US Zipcode dataset was read into R.  R failed to read in about 1200 rows of this dataset.  In paticular, the text file contains 41,470 unique zipcodes, but R only readin 40,268.  

<strong>Task Requirements</strong>

1.   Figure out what happened to the 1200 missing rows
2.   Correct the issue
3.   Re-read the data in and verify that all rows have been successfully included

<strong>Hints</strong>: 
1.   The issue first appeared when reading in data from Iowa.  It also occured when reading in data Idaho, Illinois, etc. 
2.   I fixed this issue by adding something to the read.table() command.  Figure out the problem and then figure out how to get the read.table() functin to overcome this problem.

<strong>What do I turn in?</strong>

1. You will be asked to turn in a link to your iPython Notebook
2. Using the text block below, explain why the 1200 were missing and provide an brief explanation of how you fixed this issue.
3. Proof that data was read in correctly, e.g. provide output from the dim() function

#read.table()
read.table(file, header = FALSE, sep = "", quote = "\"'",
           dec = ".", numerals = c("allow.loss", "warn.loss", "no.loss"),
           row.names, col.names, as.is = !stringsAsFactors,
           na.strings = "NA", colClasses = NA, nrows = -1,
           skip = 0, check.names = TRUE, fill = !blank.lines.skip,
           strip.white = FALSE, blank.lines.skip = TRUE,
           comment.char = "#",
           allowEscapes = FALSE, flush = FALSE,
           stringsAsFactors = default.stringsAsFactors(),
           fileEncoding = "", encoding = "unknown", text, skipNul = FALSE)

#read.delim()
read.delim(file, header = TRUE, sep = "\t", quote = "\"",
           dec = ".", fill = TRUE, comment.char = "", â€¦)

#Answer

"You can also use the read.delim() function as, similiar to read.csv(), read.delim() is a wrapper of read.table() with defaults set specifically for tab delimited files." (github.io)

some of the most common problems with read.table() is the fact that it has all of these default values you can use to specify how you want to read your file.
these default values tend to have a lot of problems with reading delimited text files like US.txt
read.table defaults to:

-how it reads quotes is single quotes not double quotes

-all columns are read as char unless colClasses is specified
so every value is read with quotes
-blank.lines.skip = true

Read.delim simplifies what read.table() does, specificly for those small errors like reading quotes or comments wrong or classifying whitespace incorrectly





# http://uc-r.github.io/import_text_files



---

---

# Code for Task #1

## Using the download.file() function

In [1]:
#Creating a temporary directory for download
Zipcode_Directory <- tempdir()

In [2]:
#Creating a temporary file 
Zipcode_File <-tempfile()

In [3]:
#Downlaod the file, happens to be a zip file thus must be unpacked
download.file(url="http://download.geonames.org/export/zip/US.zip", destfile=Zipcode_File)

In [4]:
#Unzipping the file
unzip(zipfile=Zipcode_File, exdir=Zipcode_Directory)

In [5]:
#Using file.path() function to create the necessary path to the file.
filelocation <- file.path(Zipcode_Directory,"US.txt")

Reading in the file using the read.table() function.

In [6]:
####### answer ######


Zipcode_Data <- read.table(file=filelocation, sep="\t", header=FALSE)
Zipcode_Data2 <- read.table(file=filelocation, sep="\t", header=FALSE, quote="")
#specific function for tab delimited .txt files that adjust the default parameters
Zipcode_Datadelim <- read.delim(file=filelocation, sep = "\t", header =FALSE)
#dim for original table
dim(Zipcode_Data)
#dim for with quotes parameter changed
dim(Zipcode_Data2) 
#dim for delimit function
dim(Zipcode_Datadelim)

[1] 40268    12

[1] 41470    12

[1] 41470    12

In [9]:
#Creating new names for the Zipcode_Data data.frame
names(Zipcode_Data2) <- c("Country", "Zipcode", "Location", "StateName", "StateAbbrevation","CountyName", "CountyAbbreviation", "CommunityName", "CommunityAbbreviation", "Latitude", "Longitude", "Accuracy")

In [11]:
head(Zipcode_Data2)

  Country Zipcode Location   StateName StateAbbrevation CountyName
1 US      99553   Akutan     Alaska    AK               Aleutians East
2 US      99571   Cold Bay   Alaska    AK               Aleutians East
3 US      99583   False Pass Alaska    AK               Aleutians East
4 US      99612   King Cove  Alaska    AK               Aleutians East
5 US      99661   Sand Point Alaska    AK               Aleutians East
6 US      99546   Adak       Alaska    AK               Aleutians West (CA)
  CountyAbbreviation CommunityName CommunityAbbreviation Latitude Longitude
1 13                               NA                    54.1430  -165.7854
2 13                               NA                    55.1858  -162.7211
3 13                               NA                    54.8542  -163.4113
4 13                               NA                    55.0628  -162.3056
5 13                               NA                    55.3192  -160.4914
6 16                               NA                    51.8740  -176.6340
  Accuracy
1 1
2 1
3 1
4 1
5 1
6 1